.chat-main
  .chat-main__group-info
    .chat-main__group-info__group
      .chat-main__group-info__group__name
        = @group.name
      %ul.chat-main__group-info__group__list
        Menber：
        - @group.users.each_with_index do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group), class: "chat-main__group-info__editbtn" 
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "bottom-items"}, local: true do |f|
      .bottom-items__new-message
        = f.text_area :content, class: 'bottom-items__new-message__text'
        = f.label :image, class: 'bottom-items__new-message__image' do
          = icon('far', 'image', class: "bottom-items__new-message__image__icon")
          = f.file_field :image, class: "bottom-items__new-message__image__btn"
      = f.submit '(*･∀･)ゞ了解!!', class: 'bottom-items__submitbtn'
      = f.submit '(ヾﾉ･∀･`)ﾑﾘﾑﾘ', class: 'bottom-items__submitbtn'
      = f.submit '送信', class: 'bottom-items__submitbtn'
      