.account__body
  .account__logo
    %h1 Edit Account
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'Button'
    = link_to "トップページに戻る", :back, class: 'Button'
  .account__form
    = form_for(current_user) do |f|
      .account__field
        .account__field__label
          = f.label :name
        .account__field__input
          = f.text_field :name, autofocus: true
      .account__field
        .account__field__label
          = f.label :email
        .account__field__input
          = f.email_field :email
      = f.submit "Update", class: 'ButtonUserButton'