.account__body
  .account__logo
    %h1 Log in
  .account__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .account__field
        .account__field__label
          = f.label :email
        .account__field__input
          = f.email_field :email, autofocus: true
      .account__field
        .account__field__label
          = f.label :password
          %i (英数字8文字以上)
        .account__field__input
          = f.password_field :password, autocomplete: "off"
      .actions
        = f.submit "Log in", class: 'ButtonUserButton'
    = render "devise/shared/links"